<div class="container">
  <div class="left">
    <mat-icon class="logo" width="48px" >diamond</mat-icon>
    <h2 style="color: #fff; margin-left:1rem;">COMPANY</h2>
  </div>
  <div class="right">
    <mat-icon class="profile">account_circle</mat-icon>
    <div style="margin-right: 2rem;">
      <p style="color:white; font-size:16px; font-weight:bold; margin:0; padding:0;">Jhon Doe</p>
       <p style="color:white; font-size:12px; margin:0;">Admin</p>
    </div>
    <mat-icon class="menu" >menu</mat-icon>
  </div>
</div>
